@import url('../css/aside.css');

header{
    width:960px;
    margin:auto;
    height:150px;
    border:1px solid;
    position:relative;
}
hgroup{
    font-family: 'Henny Penny', cursive;
    position:absolute;
    left:10px;
    top:25px;
    background: rgb(217,19,199);
    background: linear-gradient(90deg, rgba(217,19,199,0.6727065826330532) 0%, rgba(150,154,45,0.9108018207282913) 61%, rgba(207,125,18,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.main_gnb{
    position:absolute;
    right:5px;
    top:5px;
}
.local_lnb{
    position:absolute;
    right:5px;
    bottom:5px;
}
.main_gnb ul li{
    float:left;
    /* display:inline;  이거해도됨 */
}
.main_gnb ul li a{
    display:block;   
}
.local_lnb{
    display:flex;
}
.local_lnb li{
    flex:1;
}
.main_gnb li{
    float:left;
}
.main_gnb li a{
    display:block;
    border:1px solid;
    padding:5px;
}
.local_lnb li a{
    display:block;
    padding:5px 10px;
    border:1px solid;
}
.main_gnb>li:not(:last-child)>a{
    border-right:0;
}
.main_gnb>li:first-child>a{
    border-radius: 8px 0 0 8px;
}
.main_gnb>li:last-child>a{
    border-radius: 0 8px 8px 0;
}
.main_gnb>li:hover>a{
    background:black;
    color:white;
}
.local_lnb>li:not(:last-child)>a{
    border-right:0;
}
.local_lnb>li:first-child>a{
    border-radius: 8px 0 0 8px;
}
.local_lnb>li:last-child>a{
    border-radius: 0 8px 8px 0;
}
.local_lnb>li:hover>a{
    background:black;
    color:white;
}
/* header끝 */

/* 컨텐츠배치 */
#content{
    width:960px; 
    margin:auto;
    overflow:hidden;
}
#content>section, #content>aside{
    float:left;
    border:1px solid;
    box-sizing:border-box;
}
#content>aside{
    width:200px;
}
#content>section{
    width:760px;
    padding:10px;
}
#content>section>article{
    border:1px solid;
    margin:5px;
    padding:5px;
}
article>p{
    text-align:justify;
    /* word-break:break-all;한글이면 이거 사용가능*/
    hyphens: auto;
}

/* section 끝 */

footer{
    border:1px solid;
    width:960px;
    margin:auto;
    padding:10px;
    box-sizing: border-box;
    text-align: center;
}
#content{
    border:1px solid gray;
}

article>p::first-letter{
    font-size:2em;
    font-weight: bold;
    color:rgb(217,19,199);
}

/* skip_nav */
.ski_nav a{
    position:absolute;
    top: -100px;
    left:0;
    background:#000;
    height:30px;
    line-height: 30px;
    color:white;
    padding:0 10px;
    display:block;
}
.ski_nav a:focus{
    top:0;
}
h3{
    background: rgb(227,27,209);
    background: linear-gradient(90deg, rgba(227,27,209,0.6727065826330532) 0%, rgba(214,221,42,0.9108018207282913) 15%, rgba(180,114,28,1) 29%);
    color: transparent;
    -webkit-background-clip: text;
}