.wrap {
    width: 900px;
    margin: auto;
}

header {
    display: flex;
    background-color: #e7e7e7;
    position: relative;
}

.left ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
}
.left li:active{
    background:#ccc;
}

.left ul a {
    display: block;
    padding: 10px;
}

.right {
    position: absolute;
    right: 10px;
    top: 15px;
    color:#e7e7e7;
}
.right:active>a{
    display:block;
    height:100%;
    background:#ccc;
    color:#eee;
}

.right ol {
    display: none;
}

#sub:target {
    display: block;
}

header h1 {

    font-size: 18px;
    line-height: 20px;
    height: 20px;
    padding: 15px 15px;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: transparent;
    -webkit-background-clip: text;

}

.login_wrap {
    background-color: #eee;
    padding: 60px;
    width: 33%;
    border-radius: 10px;
    margin: 20px auto;
}

.form-group input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top:10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.form-group {
    margin: auto;
    width: 100%;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin-top:20px;
}

#sub {
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    position: absolute; top:25px;
}
#sub a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
p{
    display:block;
    text-align:center;
    font-size:25px;
    margin-bottom:20px;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: transparent;
    -webkit-background-clip: text;

}